<div>

    <h3><%= q['question'] %></h3>

    <% i = 0 %>
    <fieldset>
    <% q['answers'].values.each do |answer| %>
        <% if answer %>
            <input class="form-check-input" type="radio" name="answer-<%= z %>" id="answer-<%= i %>">
            <label class="form-check-label" for="flexRadioDefault1">
                <%= answer %>
            </label><br>
            <% i += 1 %>
        <% end %>
    <% end %>
    </fieldset>

</div>