
<div class="container-sm justify-content-center flex-column d-flex align-items-center">

<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
onload="quizHistory()">

<h2>
You answered 
<span id="quiz-score"><%= session[:score] %></span> / 
<span id="quiz-length"><%= session[:length] %></span> questions correctly
</h2>

<div id="quiz-history">
<h3>History</h3>
</div>

<a href="/">
<input type="button" class="btn btn-primary mb-3" value="Reload">
</a>
</div>