<div class="container-sm justify-content-center flex-column d-flex align-items-center">

<h2>You answered <%= session[:score] %> / <%= session[:length] %> questions correctly</h2>
<a href="/">
<input type="button" onClick="window.location.href=/" class="btn btn-primary mb-3" value="Reload">
</a>
</div>