<nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Highest Level: Pass</a>
    <a class="nav-link" href="http://facebook.com">Facebook</a>
    <a class="nav-link" href="http://twitter.com">Twitter</a>
    <a class="nav-link" href="http://linkedin.com">LinkedIn</a>
</nav>